---
export type Project = {
	id: string;
	title: string;
	tech: string;
	website: string;
	github?: string;
	imageSrc: string;
	cardClass: string;
	pinClass: string;
	description: string[];
};

export interface Props {
	currentProject: Project;
	projects: Project[];
}

const { currentProject, projects } = Astro.props;
---

<div class='flex gap-md items-start max-sm flex-wrap max-sm:justify-center sm:pl-sm'>
	<div class='max-w-[320px] w-full aspect-[4/5] relative text-sm'>
		{
			projects.map((project) => (
				
				<div
					class={`${project.cardClass} h-full w-full py-[25px] px-[20px] flex flex-col gap-sm border shadow-md absolute inset-0`}
					class:list={[{ 'z-[99]': currentProject.id === project.id }]}>
					<div class='aspect-square w-full'>
						<img
							class='w-full h-full object-cover border'
							src={project.imageSrc}
							alt='Entwickelte Webseite, Kundenprojekt, Vorschau'
						/>
					</div>
					<div class='flex flex-col gap-sm px-sm'>
						<div>{project.tech}</div>
						<div>
							<a
								href={currentProject.website}
								target='_blank'>
								Webseite
							</a>
							{currentProject.github && (
								<a
									href={currentProject.github}
									target='_blank'>
									| Github
								</a>
							)}
						</div>
					</div>
				</div>
				<div
					class=' shadow-md-strong w-[20px] aspect-square absolute rounded-full left-[50%] top-[-5px] translate-x-[-50%] z-[99]'
					class:list={[
						{ [project.pinClass]: true },
						{ hidden: currentProject.id !== project.id },
					]}
				/>
			))
		}
	</div>
	<div class='flex flex-col gap-sm max-w-paragraph text-md'>
		<h2 class='title'>{currentProject.title}</h2>
		<div class='flex flex-col gap-sm'>
			{currentProject.description.map((line) => <p>{line}</p>)}
		</div>
	</div>
</div>
<style>
	a:hover {
		color: var(--color-bg);
	}
</style>
